@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.12rem;
}

* input:focus,
* textarea:focus,
* select:focus,
* button:focus {
  outline: none;
}

:root {
  font-size: 20px;
  --night-gradient-background1: #252238;
  --night-gradient-background2: #322f46;
  --night-gradient-background3: #312e47;
  --day-gradient-brackground1: rgb(60, 145, 194);
  --day-gradient-brackground2: rgb(67, 134, 173);
  --day-gradient-brackground3: rgb(81, 143, 179);
}

.nightTheme {
  --backgroundGradient: linear-gradient(
    10deg,
    var(--night-gradient-background1) 0%,
    var(--night-gradient-background2) 70%,
    var(--night-gradient-background2) 100%
  );
}

.dayTheme {
  --backgroundGradient: linear-gradient(
    10deg,
    var(--day-gradient-brackground1) 0%,
    var(--day-gradient-brackground2) 70%,
    var(--day-gradient-brackground3) 100%
  );
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--backgroundGradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 60%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.container .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.container .location svg {
  height: 1.5rem;
  margin-right: 0.5rem;
  fill: #fff;
}

.container .location h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container .icon img {
  width: 50%;
  min-width: 300px;
}

.container .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.container .information .information-temperature {
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .information .information-temperature:hover {
  cursor: pointer;
}

.container .information .information-description {
  color: rgba(255, 255, 255, 0.658);
  font-size: 0.8rem;
  font-weight: 400;
}

.container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 1rem;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.658);
  opacity: 0.7;
  border-radius: 0.2rem;
  width: 100%;
  max-width: 400px;
}

.container .search input {
  width: 80%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background: 0;
  color: #222222;
  font-size: 1rem;
  font-weight: 500;
}

.container .search button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 150ms all ease;
  transition: 150ms all ease;
}

.container .search button svg {
  height: 1rem;
  fill: #222222;
}

.container .search button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
