@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.12rem;
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none;
  }
}
:root {
  font-size: 20px;
  --night-gradient-background1: #252238;
  --night-gradient-background2: #322f46;
  --night-gradient-background3: #312e47;

  --day-gradient-brackground1: rgb(60, 145, 194);
  --day-gradient-brackground2: rgb(67, 134, 173);
  --day-gradient-brackground3: rgb(81, 143, 179);
}
.nightTheme {
  --backgroundGradient: linear-gradient(
    10deg,
    var(--night-gradient-background1) 0%,
    var(--night-gradient-background2) 65%,
    var(--night-gradient-background2) 100%
  );
}
.dayTheme {
  --backgroundGradient: linear-gradient(
    10deg,
    var(--day-gradient-brackground1) 0%,
    var(--day-gradient-brackground2) 65%,
    var(--day-gradient-brackground3) 100%
  );
}

$temperatureFontSize: 2rem;
$titleFontSize: 1.5rem;
$regularFontSize: 1rem;
$descriptionFontSize: 0.8rem;

$padding: 1rem;

$primaryFontColor: #fff;
$secondaryFontColor: rgba(255, 255, 255, 0.658);
$darkFontColor: rgb(34, 34, 34);

@mixin flexJustifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin transitionEase {
  transition: 150ms all ease-out;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--backgroundGradient);
  @include flexJustifyAlignCenter();
  position: relative;
}
.container {
  height: 100vh;
  width: 60%;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  section {
    @include flexJustifyAlignCenter();
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    color: $primaryFontColor;
    transition: 400ms transform ease;

    & .scroll {
      position: absolute;
      img {
        height: 2rem;
      }
    }
  }
}
.up {
  bottom: 1rem;
}
.down {
  top: 1rem;
}

@import './sectionMain';
@import './sectionDetails';

.moveUp {
  transform: translateY(-100%);
}
